# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


ide/
idea/
out/
.idea_modules/
*.iml
*.ipr
*.iws

.mypy_cache/
.venv/
.coverage
.vscode
__pycache__/
uv.lock

env/
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.cache
dist/
node_modules/

# Runtime data
pids
*.pid
*.seed
*.pid.lock